{{!< default}}
{{> header}}
<main class="main_lupercal" role="main">
  {{#foreach posts}}
    <article class="article_lupercal {{post_class}}" role="article" itemscope itemtype="http://schema.org/Article">
      <header class="postheader_lupercal">
      <h1 class="posttitle_lupercal" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{#if featured}}Featured:{{/if}} {{title}}</a></h1>
        <h6><time class="date_lupercal" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">on {{date format='dddd DD MMM YYYY'}}</time> by <span class="author">{{author}}</span></h6>
      </header>
      <div class="postcontent_lupercal" itemprop="articleBody">
        {{#if image}}
          <img class="postimage_lupercal" src="{{image}}" alt="{{title}}">
        {{/if}}
        {{content words="42"}}<a class="read-more" href="{{url}}">Continue reading...</a>
      </div>
      {{#if tags}}
        <div class="posttags_lupercal">
          Tags: {{tags separator=" | "}}
        </div>
      {{/if}}
    </article>
  {{/foreach}}

  {{#if pagination}}
    <div class="pagination_lupercal">
      {{pagination}}
    </div>
  {{/if}}
</main>
{{> footer}}
