{{!< default}}
{{> header}}
<main class="main_lupercal" role="main">
  {{#foreach posts}}
    <article class="article_lupercal" role="article" itemscope itemtype="http://schema.org/Article">
      <header class="postheader_lupercal">
        <time class="date_lupercal" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='dddd DD MMM YYYY'}}</time>
        <h1 class="posttitle_lupercal" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
      </header>
      <div class="postcontent_lupercal" itemprop="articleBody">
        {{content}}
      </div>
      {{#if tags}}
        <div class="posttags_lupercal">
          Tags: {{tags separator=" | "}}
        </div>
      {{/if}}
    </article>
  {{/foreach}}

  {{#if pagination}}
    <div class="pagination_lupercal">
      {{pagination}}
    </div>
  {{/if}}
</main>
{{> footer}}
